* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  cursor: default;
}

.search-bar-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(19, 198, 138, 0.4), rgba(19, 198, 138, 0.01))
}

.search-bar {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.search-bar:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  width: 30%;
  height: 90%;
  padding: 40px 0;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  text-align: center;
}

.introduction h1 {
  font-size: clamp(30px, 2vw, 50px);
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 1%;
}

.introduction p {
  font-size: clamp(13px, 0.6vw, 17px);
  color: #000000;
  margin-bottom: 7%;
  word-wrap: break-word;
  overflow-wrap: break-word
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}

.input {
  padding: 5% 2%;
  width: 90%;
  height: 40px;
  border-radius: 80px;
  font-size: 0.8rem;
  transition: transform 1s ease, box-shadow 0.2s ease;
  outline: none;
  border: #00ffa9 solid 2px;
  cursor: text;
}

.input-container img {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 82%;
  width: 7%;
  opacity: 0.5;
  margin-left: 2%;
  cursor: pointer;
}

.introduction input:focus {
  box-shadow: 0 0 0 4px rgb(0, 255, 169);
}


