<div class="search-bar-container">
  <section class="search-bar">
  <div class="introduction">
    <h1>Do you know what You breath?</h1>
    <p><em>Trace the cleanliness of the air around you</em></p>
    <div class="input-container">
      <label for="search-input">
        <img src="/magnifying-glass-location-solid.svg">
      </label>
      <input type="text" id="search-input" placeholder="Search your city" onfocus="this.placeholder=''" onblur="this.placeholder='Search your city'">
    </div>

  </div>
</section>
</div>

