
<link type="text/css" href="header.component.css"/>

<!--FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Lugrasimo&family=Ms+Madi&family=Poetsen+One&display=swap" rel="stylesheet"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exile&family=Italiana&family=Lugrasimo&family=Ms+Madi&family=Poetsen+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exile&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Italiana&family=Lugrasimo&family=Ms+Madi&family=Poetsen+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exile&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Italiana&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ms+Madi&family=Poetsen+One&display=swap" rel="stylesheet">
<!--FONTS-->


<header class="main-header">
  <div class="logo">
    <a href="index.html">AirFe</a>
  </div>
  <nav class="main-nav">
    <ul>
      <li>
        <a href="">Home</a>
        <a href="#">Learn</a>
        <a href="#">About</a>
        <a href="/history">Measurement history</a>
      </li>
    </ul>
  </nav>
  <button class="burger-line" aria-label="Toggle menu" aria-expanded="false">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
  </button>
  <div class="nav-actions">
    <a href="#" title="Change language">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9
            5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589
            8.495a18.023 18.023 0 0 1-3.827-5.802"/>
      </svg>
    </a>
    <a href="#" title="Sign in">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5
            4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875
            1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721
            0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
      </svg>
    </a>
  </div>
</header>

