
/*:host {*/
/*  position: fixed;*/
/*  z-index: 9999;*/
/*  top: 60px;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  display: block;*/
/*}*/

main {
  width: 100%;
  height: 500px;
  background: #555;
}
